@{
    ViewBag.Title = "Home Page";
}
@*<div class="jumbotron">*@
  <body> 
      <header>
          <h1>Welcome</h1>
      </header> 
    @*<p class="lead">Login from "@User.Identity.Name" Account.</p>*@
    </body>
@*</div>*@  